#apporder {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#apporder main {
    margin-left: 30px;
}

@media(max-width:800px) {
    #apporder {
        flex-direction: column;
    }
    #apporder main {
        margin-left: 0;
        margin-top: 30px;
    }
    #apporder aside {
        width: 100%;
    }
}