@import url(//db.onlinewebfonts.com/c/7db56b18988b0db9d84b3bfd3d4f9b6b?family=DistrictProW01-Medium);
body {
    background: #0bad99;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body,
input,
button {
    font-family: "DistrictProW01-Medium", Arial, Helvetica, sans-serif;
}